<% if user_signed_in? %>
  <% if artist_comment.artist_favorite_user(current_user) %>
    <%= button_to artist_comment_artist_favorite_path(artist_comment.id), method: :delete, remote: true do %>
      <%= image_tag("heart.png",:size =>'10x10') %>
      <span>
        <%= artist_comment.artist_favorites.count %>
      </span>
    <% end %>
  <% else %>
    <%= button_to artist_comment_artist_favorites_path(artist_comment.id), method: :post, remote: true do %>
      <%= image_tag("black_heart.png",:size =>'10x10') %><%= artist_comment.artist_favorites.count %>

    <% end %>
  <% end %>
<% else %>
  <%= image_tag("black_heart",:size =>'10x10') %>
    <span>
              <%= artist_comment.artist_favorites_count %>
    </span>
<% end %>

