

<h1 class="aa">アーティスト一覧</h1>
	<div class="artist_index_big_box">
		<% @search_artists.each do |artist| %>
	    	<div class="artist_index_article" >
		    	<div class="artist_index_artist_image">
	 		   		<%= attachment_image_tag artist, :image, :size => '200x200' ,fallback: 'noimage.png'%>
				</div>
			   	<div class="row">
   			   		<div class="col-lg-8">
						<table class="table table-striped">
							<tr>
	 	  						<td class="col-xs-2">名前</td>
	 	  						<td><%=link_to artist.artist_name, artist_path(artist.id) %></td>
	 	  					</tr>
	 	  					<tr>
    							<td>詳細</td>
	    						<td><%= artist.introduction %></td>
	    					</tr>
								<td>新着コメント</td>
									<% artist.artist_comments.order(id: "DESC").limit(1).each do |artist_comment| %>
								<td id="event_comment"><%= artist_comment.content %></td>
								<% end %>
	    				</table>
	    			</div>
				</div>
			</div>
		<% end %>
	</div>
<div class="page">
<%= paginate @artists, class: "paginate" %>
</div>