<div class="user_edit_bigbox">
	<%= form_for(@user) do |f| %>
		<div class="user_edit_image">
			<%= f.attachment_field :image ,fallback: '/images/no_image.png' %>
		</div>
		<div class="user_edit_profile">
			 <div class="row">
   				  <div class="col-lg-10">

					<table class="table table-striped">
						<tr>
							<td>ハンドルネーム</td>
							<td><%= f.text_field :handle_name %></td>
						</tr>
						<tr>
							<td>都道府県</td>
							<td><%= f.text_field :prefecture %></td>
						</tr>
						<tr>
							<td>性別</td>
				              <td>男性<%= f.radio_button :gender, "男" %></td>
             				  <td>女性<%= f.radio_button :gender, "女" %></td>
						</tr>
						<tr>
							<td>生年月日</td>
							<td><%= f.date_field :birthday %><td>
						</tr>
						<tr>
							<td>趣味</td>
							<td><%= f.text_field :hobby %><td>
						</tr>
					</table>
				</div>
			</div>

		</div>
		<div class="user_edit_introduction">
			<h4>自己紹介</h4>
			<%= f.text_field :introduction ,rows:'3' ,class: "form-control",placeholder: "コメントをここに"%>
		</div>
		<%= f.submit '保存', class: "users_edit_account_edit" %>
	<% end %>
</div>