<% if user_signed_in? %>
  <% if @event_comment.event_favorite_user(current_user.id) %>
    <%= button_to event_event_favorite_path(event_favorite, event_comment_id: event_comment.id), method: :delete, id: "like-button", remote: true do %>
      <%= image_tag("heart.png") %>
      <span>
        <%= event_comment.event_favorite_count %>
      </span>
    <% end %>
  <% else %>
    <%= button_to event_event_favorites_path(@event), id: "like-button", remote: true do %>
      <%= image_tag("black_heart.png",:size =>'10x10') %><%= @event_comment.event_favorites_count %>

    <% end %>
  <% end %>
<% else %>
  <%= image_tag("black_heart") %>
    <span>
              <%= @event_comment.event_favorite_count %>
    </span>
<% end %>